@model GadeliniumGroupCapstone.ViewModels.ServiceWithPhotoUpload

@{
    ViewData["Title"] = "Add Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div class="container">
    @await Component.InvokeAsync("AddService", @Model)
</div>


<h4>Service</h4>
<hr />


<div>
    <a asp-action="Home" asp-controller="Business"></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
