@model GadeliniumGroupCapstone.Models.Service

@{
    ViewData["Title"] = "Add Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceTag" class="control-label"></label>
                <input asp-for="ServiceTag" class="form-control" />
                <span asp-validation-for="ServiceTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceTagLine" class="control-label"></label>
                <input asp-for="ServiceTagLine" class="form-control" />
                <span asp-validation-for="ServiceTagLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDescription" class="control-label"></label>
                <input asp-for="ServiceDescription" class="form-control" />
                <span asp-validation-for="ServiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceFurtherDescription" class="control-label"></label>
                <input asp-for="ServiceFurtherDescription" class="form-control" />
                <span asp-validation-for="ServiceFurtherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDisplayOrder" class="control-label"></label>
                <input asp-for="ServiceDisplayOrder" class="form-control" />
                <span asp-validation-for="ServiceDisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessId" class="control-label"></label>
                <select asp-for="BusinessId" class ="form-control" asp-items="ViewBag.BusinessId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
