@model GadeliniumGroupCapstone.Models.BlockedUsers

@{
    ViewData["Title"] = "Create";
            Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Block an Account</h1>

<h4>Block This User</h4>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BlockedUserId" class="control-label"></label>
                <input asp-for="BlockedUserId" class="form-control" />
                <span asp-validation-for="BlockedUserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BlockerId" class="control-label"></label>
                <input asp-for="BlockedUserId" class="form-control" />
                <span asp-validation-for="BlockedUserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blockee" class="control-label"></label>
                <input asp-for="Blockee" class="form-control" />
                <span asp-validation-for="Blockee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Block" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
