@model GadeliniumGroupCapstone.Models.BlockedUsers
@inject GadeliniumGroupCapstone.Contracts.IRepositoryWrapper _repo

@{
    ViewData["Title"] = "Details";
    var blocker = _repo.PetAccount.GetPetAccountOfUserId(Model.BlockerId)[0].PetName;
    var blockee = _repo.PetAccount.GetPetAccountOfUserId(Model.Blockee)[0].PetName;

}

<h1>Details</h1>

<div>
    <h4>BlockedUsers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @blocker;
        </dt>
        <dd class="col-sm-10">
        </dd>

        <dt class="col-sm-2">
            @blockee;
        </dt>
        <dd class="col-sm-10">
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.BlockerId">Details</a> |
    <a asp-action="Index">Back to List</a>
</div>
