@model GadeliniumGroupCapstone.Models.PetAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pet Account Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetAccountId" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="PhotoBinId" />
            <div class="form-group">
                <label asp-for="PetName" class="control-label"></label>
                <input asp-for="PetName" class="form-control" />
                <span asp-validation-for="PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalType" class="control-label"></label>
                <input asp-for="AnimalType" class="form-control" />
                <span asp-validation-for="AnimalType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <input type="file" asp-for="UploadFile" name="uploadFile" />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
