@model GadeliniumGroupCapstone.ViewModels.PetWithImage

@{
    ViewData["Title"] = "PetOwnerRegistration";
}

<div class="alert alert-info">

</div>
<h1>Register Your Pet</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePetAccount" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="PetAccount.PetName" class="control-label"></label>
                <input asp-for="PetAccount.PetName" class="form-control" />
                <span asp-validation-for="PetAccount.PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetAccount.Age" class="control-label"></label>
                <input asp-for="PetAccount.Age" class="form-control" />
                <span asp-validation-for="PetAccount.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetAccount.AnimalType" class="control-label"></label>
                <input asp-for="PetAccount.AnimalType" class="form-control" />
                <span asp-validation-for="PetAccount.AnimalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" asp-for="UploadFile" name="uploadFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
